<footer class="footer">
  <p>Copyright © {{year}}</p>
  <!-- Red Hat Sponsorship Section -->
  <p>
    Cockpit is a <a href="https://redhat.com"></a>Red Hat sponsored free software project released under the <a href="https://opensource.org/licenses/lgpl-2.1.php">LGPL v2.1+</a>
    </a>
  </p>
</footer>
